# Scala
*.class
*.log
*.tmp
*.out
*.jar

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# sbt
project/target/
target/
.cache/
.history/
.ensime_cache/
.idea/

# Metals
.metals/
.bloop/
.ammonite/
.bsp/
.scala-build/

# Other
*.swp
*~

#tex 
**/*.aux
**/*.bbl
**/*.blg
**/*.fls
**/*.synctex.gz
**/*.fdb_latexmk